{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="padding-top: 50px">
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col">
                {{ form.c8_0.label }}<br>
                {{ form.c8_0(size=2) }}
                {% for error in form.c8_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c10_0.label }}<br>
                {{ form.c10_0(size=2) }}
                {% for error in form.c10_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c12_0.label }}<br>
                {{ form.c12_0(size=2) }}
                {% for error in form.c12_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c14_0.label }}<br>
                {{ form.c14_0(size=2) }}
                {% for error in form.c14_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c16_0.label }}<br>
                {{ form.c16_0(size=2) }}
                {% for error in form.c16_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c18_0.label }}<br>
                {{ form.c18_0(size=2) }}
                {% for error in form.c18_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c18_1.label }}<br>
                {{ form.c18_1(size=2) }}
                {% for error in form.c18_1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c18_2.label }}<br>
                {{ form.c18_2(size=2) }}
                {% for error in form.c18_2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c18_3.label }}<br>
                {{ form.c18_3(size=2) }}
                {% for error in form.c18_3.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c18_1_oh.label }}<br>
                {{ form.c18_1_oh(size=2) }}
                {% for error in form.c18_1_oh.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c20_0.label }}<br>
                {{ form.c20_0(size=2) }}
                {% for error in form.c20_0.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c20_1.label }}<br>
                {{ form.c20_1(size=2) }}
                {% for error in form.c20_1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.c22_1.label }}<br>
                {{ form.c22_1(size=2) }}
                {% for error in form.c22_1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col">
                {{ form.outros.label }}<br>
                {{ form.outros(size=2) }}
                {% for error in form.outros.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                {{ form.regression() }}
            </div>
        </div>
        <div class="form-row">
                {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
