{% extends "base.html" %}

{% block title %}Regressions{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 50px">
    <form action="" method="POST" role="form">
        {{ form.csrf }}
        <div class="form-row">
            <div class="form-group col">
                <label for="c8_0">C8:0</label>
                <input type="number" class="form-control" name="c8_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c10_0">C10:0</label>
                <input type="number" class="form-control" name="c10_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c12_0">C12:0</label>
                <input type="number" class="form-control" name="c12_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c14_0">C14:0</label>
                <input type="number" class="form-control" name="c14_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c16_0">C16:0</label>
                <input type="number" class="form-control" name="c16_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c18_0">C18:0</label>
                <input type="number" class="form-control" name="c18_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c18_1">C18:1</label>
                <input type="number" class="form-control" name="c18_1" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c18_2">C18:2</label>
                <input type="number" class="form-control" name="c18_2" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c18_3">C18:3</label>
                <input type="number" class="form-control" name="c18_3" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c18_1_oh">C18:1 OH</label>
                <input type="number" class="form-control" name="c18_1_oh" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c20_0">C20:0</label>
                <input type="number" class="form-control" name="c20_0" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c20_1">C20:1</label>
                <input type="number" class="form-control" name="c20_1" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="c22_1">C22:1</label>
                <input type="number" class="form-control" name="c22_1" step="0.01" value=0.00>
            </div>
            <div class="form-group col">
                <label for="outros">Outros</label>
                <input type="number" class="form-control" name="outros" step="0.01" value=0.00>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="regression" id="pls" value="pls" checked>
                <label class="form-check-label" for="pls_regression">PLS Regression</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="regression" id="mlr" value="mlr">
                <label class="form-check-label" for="mlr_regression">MLR Regression</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="regression" id="svr" value="svr">
                <label class="form-check-label" for="svr_regression">SVR Regression</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% if 'Error' in messages[0] %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            {% if 'Error' not in messages[0] %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}
